.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #777;
    color: #fff;
    text-align: center;
    margin: 0;
    gap: 20px;
}

.about a {
    color: #fff;
    font-weight: 500;
    font-size: 50px;
    margin-top: 20px;
}

.about p {
    width: 80%;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

